/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Home-row J+K (positions 16 and 17) → Escape. Base layer only.
        combo_esc {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <16 17>;
            layers = <0>;
            bindings = <&kp ESC>;
        };
    };

    // Hold Nav + Num together to get the Func layer (F-keys).
    conditional_layers {
        compatible = "zmk,conditional-layers";
        func_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 5-column US QWERTY: the 10 columns under Q-P, including ; , . /
            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |
            //             | GUI | ESC | SPC |     | ENT | NUM | BSPC |
            //                   | NAV |
            display-name = "Base";
            bindings = <
                &as LS(Q) Q  &as LS(W) W  &as LS(E) E  &as LS(R) R  &as LS(T) T      &as LS(Y) Y  &as LS(U) U  &as LS(I) I      &as LS(O) O    &as LS(P) P
                &as LS(A) A  &as LS(S) S  &as LS(D) D  &as LS(F) F  &as LS(G) G      
                &kp H        &kp J        &kp K            &kp L          &as LS(SEMI) SEMI
                &as LS(Z) Z  &as LS(X) X  &as LS(C) C  &as LS(V) V  &as LS(B) B      &as LS(N) N  &as LS(M) M  &as LS(COMMA) COMMA  &as LS(DOT) DOT  &as LS(FSLH) FSLH
                                          &kp LGUI     &lt 1 ESC    &kp SPACE       &as LS(RET) RET  &mo 2    &kp BSPC
            >;
        };

        nav_layer {
            // Right Alt+number in the same columns as 1-0 / Q-P (AHK screen switcher).
            // -----------------------------------------------------------------------------------------
            // |A1 | A2 | A3 | A4 | A5 |     | A6 | A7 | A8 | A9 | A0 |
            // |SFT| CTL| ALT|RALT| CLR|     | ←  | ↓  | ↑  | →  |A- |
            // |BT0| BT1| BT2| BT3| BT4|     |HOME|PGDN|PGUP| END|A= |
            //            | GUI |    | SPC |     | ENT | ESC | TAB |
            display-name = "Nav";
            bindings = <
                &kp RA(N1)   &kp RA(N2)   &kp RA(N3)   &kp RA(N4)   &kp RA(N5)      &kp RA(N6) &kp RA(N7) &kp RA(N8) &kp RA(N9)  &kp RA(N0)
                &sk LSHFT    &sk LCTRL    &sk LALT     &sk RALT     &bt BT_CLR      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT   &kp RA(MINUS)
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &kp HOME   &kp PG_DN  &kp PG_UP  &kp END     &kp RA(EQUAL)
                                          &kp LGUI     &trans       &kp SPACE       &as LS(RET) RET  &kp ESC  &kp TAB
            >;
        };

        num_layer {
            // Number row in the same columns as Q-P. Remaining QWERTY keys on home row.
            // Hold a number for its shifted symbol: ! @ # $ % ^ & * ( )
            // -----------------------------------------------------------------------------------------
            // | 1 | 2 | 3 | 4 | 5 |     | 6 | 7 | 8 | 9 | 0 |
            // | ` | - | = | [ | ] |     | \ | ' |TAB|ESC|DEL|
            // |PP |PRV|NXT|MUT| VD|     | VU|   | , | . | / |
            //           | GUI | ESC | SPC |     | ENT |    | TAB |
            display-name = "Num";
            bindings = <
                &as LS(N1) N1        &as LS(N2) N2        &as LS(N3) N3        &as LS(N4) N4        &as LS(N5) N5          &as LS(N6) N6  &as LS(N7) N7  &as LS(N8) N8        &as LS(N9) N9  &as LS(N0) N0
                &as LS(GRAVE) GRAVE  &as LS(MINUS) MINUS  &as LS(EQUAL) EQUAL  &as LS(LBKT) LBKT    &as LS(RBKT) RBKT      &as LS(BSLH) BSLH  &as LS(SQT) SQT  &kp TAB  &kp ESC  &kp DEL
                &kp C_PP             &kp C_PREV           &kp C_NEXT          &kp C_MUTE           &kp C_VOL_DN           &kp C_VOL_UP   &trans         &as LS(COMMA) COMMA  &as LS(DOT) DOT  &as LS(FSLH) FSLH
                                                          &kp LGUI            &kp ESC              &kp SPACE              &as LS(RET) RET  &trans       &kp TAB
            >;
        };

        func_layer {
            // Hold Nav + Num together. F-row in the same columns as Q-P.
            // -----------------------------------------------------------------------------------------
            // | F1 | F2 | F3 | F4 | F5 |     | F6 | F7 | F8 | F9 | F10 |
            // |    |    |    |    |    |     |    |    |    |    | F11 |
            // |    |    |    |    |    |     |    |    |    |    | F12 |
            display-name = "Func";
            bindings = <
                &kp F1    &kp F2    &kp F3    &kp F4    &kp F5       &kp F6    &kp F7    &kp F8    &kp F9    &kp F10
                &trans    &trans    &trans    &trans    &trans       &trans    &trans    &trans    &trans    &kp F11
                &trans    &trans    &trans    &trans    &trans       &trans    &trans    &trans    &trans    &kp F12
                                    &trans    &trans    &trans       &trans    &trans    &trans
            >;
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
